*{
    box-sizing: border-box;
}


body {
    width: 100%;
    margin: 0 auto;
    align-items: center;
}


.card {
    display:inline-block;
    margin: 0 50PX ;
    padding: 10px;
    height: 500px;
    max-height: 500px;
}

img {
    height:auto
}

h1{
    text-align: center;
}
#root span{
    width: 100%;
    text-align: center;
}